@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
  margin: 0;
  padding: 0;
  --text: #fdfcfc;
  --background: #170e0d;
  --primary: #4b8654;
  --secondary: #211512;
  --accent: #675ca3;
  font-family: 'Play', sans-serif;
}